body {
	background: url("../images/pimpmybackground.png") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Source Code Pro', monospace;
	height: 100%;
}

button {
	background: rgb(255, 229, 70);
	/*padding: 10px 0;*/
	transform: skewX(-20deg);
}

h1 {
	font-size: 2.5rem;
	margin: 10px 0;
}

h3 {
	font-size: 1.2rem;
	margin: 20px 0;
	text-align: center;
}

h5 {
	font-size: .75rem;
	margin: 10px 0;
}

html, main {
	height: 100%;
	overflow: hidden;
}

em {
	font-style: italic;
}

p {
	padding: .8rem 0;
}

.container {
	background: url("../images/xzibit_computer_with_opacity.jpg") no-repeat center center fixed;
	background-size: cover;
	border-radius: 15px;
	border: 2px solid black;
	height: 500px;
	margin: 100px auto;
	padding: 10px;
	text-align: center;
	text-shadow: 0px 0px 6px rgba(0,0,0,0.55);
	width: 80%;
	height: 65%;
}

.question {
	margin: 10px;
}

.response {
	display: block;
	margin: 10px;
}

#trivia-container {
	
}

#countdown-timer {
	font-family: 'Orbitron', sans-serif;
	text-align: right;
}

#start-trivia-game {
	display: block; /*required to set margin auto*/
	margin: 0 auto;
	font-size: 1.1rem;
}

#trivia-container {
	background: rgba(255, 255, 255, .8);
	border: 1px solid black;
	border-radius: 15px;
	margin-top: 100px;
	padding: 30px 10%;
	text-align: left;
}